.botao {
    background-color: #dfcd6a;
    color: black;
    width: 100%;
    font-size: 26px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.aba{
    width: 100%;
    height: 400px;
}

#aba1{
    background-color: #A5E1E9;
    font-size: 26px;
}
#aba2{
    background-color: #D5ED89;
    font-size: 26px;
}
#aba3{
    background-color: #FCE8A5;
    font-size: 26px;
}
#aba4{
    background-color: #FFC296;
    font-size: 26px;
}
#aba5{
    background-color: #F8CADC;
    font-size: 26px;
}
#btn1{
    background-color: #A5E1E9;
    font-size: 26px;
}
#btn2{
    background-color: #D5ED89;
    font-size: 26px;
}
#btn3{
    background-color: #FCE8A5;
    font-size: 26px;
}
#btn4{
    background-color: #FFC296;
    font-size: 26px;
}
#btn5{
    background-color: #F8CADC;
    font-size: 26px;
}

.conteudo{
    text-align: center;
}

body {
    background-color: #ffffff;
}

.barra{
    width: 100%;
    height: 70px;
    text-align: center;
    background-color: bisque;
}

.mobile{
    font-size: 50px;
    color:rgb(161, 38, 0);
}

.tablet{
    display: none;
}

.desktop{
    display: none;
}

@media (min-width:800px) {
    .barra{
        background-color: rgb(161, 38, 0);
        height: 80px;
    }
    .mobile{
        display: none;
    }
    .desktop{
        display: none;
    }
    .tablet{
        display: inline;
        font-size: 55px;
        color: black;
    }
    .botao{
        width: 19%;
        height: 50px;
        font-size: 20px;
        margin-top: 0%;
    }
    .conteudo{
        text-align: center;
        width: 100%;
    }
}

@media (min-width: 1228px) {
    .botao{
        width: 100%;
        margin-top: 0%;
    }
    .barra{
        background-color: lightblue;
        height: 120px;
    }
    .tablet{
        display: none;
    }
    .desktop{
        display: inline;
        font-size: 70px;
        color: coral;
    }
    .conteudo{
        text-align: center;
        width: 100%;
    }
}